<!-- header.component.html -->
<mat-toolbar color="primary">
    <img src="assets/logo.png" alt="black teslas logo" class="header-logo" routerLink="/">
    <span class="spacer"></span>
    <div *ngIf="isLoggedIn; else loggedOut">
      <a mat-button routerLink="/dashboard">Dashboard</a>
      <button mat-button (click)="logout()">Logout</button>
    </div>
    <ng-template #loggedOut>
      <a mat-button routerLink="/login">Login</a>
      <a mat-button routerLink="/signup">Signup</a>
    </ng-template>
    <a mat-button routerLink="/contact">Contact Us</a>
  </mat-toolbar>
