<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h5>About Us</h5>
        <p>Leading provider of luxury black Tesla rentals. Experience the blend of technology and comfort with our exclusive fleet.</p>
      </div>
      <div class="footer-section">
        <h5>Contact</h5>
        <p><strong>Email:</strong> info[@]blackteslas.com.au</p>
      </div>
      <div class="footer-section">
        <h5>Follow Us</h5>
        <!-- Add social media icons with links here -->
      </div>
    </div>
    <div class="footer-bottom">
        <p> &copy; {{ currentYear }} BlackTeslas. All Rights Reserved.</p>
      <!-- Add navigation or legal links here -->
    </div>
  </footer>
  